*,:after,:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 100px;
    text-align: justify;
}

.logo-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    margin: 100px 100px 100px 0;
    border-radius: 15px;
    box-shadow: 0 0 25px #cecece, 0 0 5px #414141;;
    padding: 10px;
}

img{
    width: 300px;
    height: 150px;
}

@media(max-width: 900px){
    .logo-text{
        flex-direction: column;
    }
    .logo{
        margin: 100px;
    }

}



